.homepage {
  padding: 0 4rem;
  height: calc(100vh - 10rem);
  overflow-y: scroll;

  h2 {
    margin-top: 4rem;
    margin-bottom: 2.4rem;
  }
}

.latestEpisodes {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    li {
      background: var(--white);
      border: 0.1rem solid var(--gray-100);
      padding: 4rem;
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 1rem;
    }

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 1rem;
    }
  }

  .episodesDatails {
    flex: 1;
    margin-left: 1rem;

    a {
      display: block;
      color: var(--gray-800);
      font-family: Lexend, sans-serif;
      font-weight: 600;
      text-decoration: none;
      line-height: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 1.4rem;
      margin-top: 0.8rem;
      max-width: 70%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      display: inline-block;
      margin-top: 0.8rem;
      font-size: 1.4rem;

      &:last-child {
        margin-left: 0.8rem;
        padding-left: 0.8rem;
        position: relative;

        &::before {
          content: "";
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 0.2rem;
          background: #ddd;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 3.2rem;
    bottom: 3.2rem;
    background: var(--white);
    border: 0.1rem solid var(--gray-100);
    border-radius: 1rem;
    font-size: 0;

    transition: filter 0.2s;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }

    &:hover {
      filter: brightness(0.95);
    }
  }
}

.allEpisodes {
}
